<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録ページ</title>
    <link href="style_registaration.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>新規登録ページ<p>
    </header>

       <!--<div id="components-demo">
            <button-counter></button-counter>
          </div>
        <br>!-->
        <div id="registaration_form">
            <input-title></input-title>
    
            <input-developer></input-developer>
            
            <input-caption></input-caption>

            <select-tags></select-tags>

            <input-subtag></input-subtag>

            <tmb-setting></tmb-setting>

            <img-setting></img-setting>

            <submit></submit>
            </div>
        </div>

        
    <footer>
        <p> cssがカスなのは見逃してください。
            単ーコンポーネント構造でやればよかった...
        </p>
    </footer>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
    const app = Vue.createApp({})

    
    app.component('input-title', {
        data(){
            return{
            title: ''
            }
        },
        template: `
        <h3>タイトル名</h3>
        <input v-model="title" id="title" placeholder="edit this" />
        <p>Title : {{ title }}
            </p>`
    })

    app.component('input-developer',{
        data(){
            return{
                developer:''
            }
        },
        template:`
        <h3>開発者名</h3>
        <input v-model="developer" id="developer" placeholder="edit this" />
        <p>Developer : {{ developer }}
            </p>`
    })

    app.component('input-caption',{
        data(){
            return{
                caption:''
            }
        },
        template:`
        <h3>説明文</h3>
        <textarea v-model="caption" id ="caption" placeholder="add multiple lines" rows= "10" cols = "50" spellcheck="false"></textarea>
        <p>Caption : {{ caption }}
            </p>`
    })

    app.component('select-tags',{
        data(){
            return{
                tags:''
            }
        },
        template:`
        <h3>Tag(複数選択可)</h3>
        <select size ="5" v-model="tags" id="tags" multiple>
            <option value="ACTION">Action</option>
            <option value="SHOOTING">SHOOTING</option>
            <option value="RPG">RPG</option>
            <option value="PUZZLE">PUZZLE</option>
            <option value="SIMULATION">SIMULATION</option>
            <option value="ADVENTURE">ADVENTURE</option>
            <option value="FIGHTING">FIGHTING</option>
            <option value="RACE">RACE</option>
            <option value="RHYTHM">RHYTHM</option>
            <option value="SPORTS">SPORTS</option>
            <option value="ETCETRA">ETCETRA</option>
        </select>
        <br />
        <span>Tag: {{ tags }}</span>`
    })


    app.component('input-subtag', {
        data(){
            return{
            subtag1: '',
            subtag2: '',
            subtag3: ''
            }
        },
        template: `
        <h3>subtag</h3>
        <input v-model="subtag1" id="subtag1" placeholder="edit this" />
        <input v-model="subtag2" id="subtag2" placeholder="edit this" />
        <input v-model="subtag3" id="subtag3" placeholder="edit this" />
        <p>Subtag :<br> {{ subtag1 }}<br>{{ subtag2 }}<br>{{ subtag3 }}
            </p>`
    })
    
    app.component('tmb-setting',{
        data(){
            return{
                dataurl:null,
                file:null,
            }
        },
        methods:{
            readTmb(){
                const inputTmb = document.getElementById('tmb');
                if(inputTmb.files.length == 0){
                    return ;
                }
                
                this.file = inputTmb.files[0];
                console.log(this.dataurl);
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.dataurl = e.target.result;
                }
                reader.readAsDataURL(this.file);
            },
            resetTmb(){
                this.dataurl = null;
                this.file = null;
            },
        },
        template:`
        <div>
            <h3>サムネを選択</h3>
            <div v-if="!dataurl">
                <input type="file" id="tmb" accept = "images/*" @change="readTmb">
            </div>
            <div v-else>
                <div id="tmb-preview">
                    <span v-if="file.name != ''">{{ file.name }}</span>
                    <img :src="dataurl" v-if="dataurl">
                </div>
                <button type ="button" @click = "resetTmb">サムネのリセット</button>
            </div>
        </div>`
    })
    
    app.component('img-setting',{
        data(){
            return{
                dataurl:null,
                file:null,
            }
        },
        methods:{
            readImg(){
                const inputImg = document.getElementById('tmb');
                if(inputImg.files.length == 0){
                    return ;
                }
                
                this.file = inputImg.files[0];

                const reader = new FileReader();
                reader.onload = (e) => {
                    this.dataurl = e.target.result;
                }
                reader.readAsDataURL(this.file);
            },
            resetImg(){
                this.dataurl = null;
                this.file = null;
            },
        },
        template:`
        <div>
            <h3>プレイ画像を選択</h3>
            <div v-if="!dataurl">
                <input type="file" id="tmb" accept = "images/*" @change="readImg">
            </div>
            <div v-else>
                <div id="img-preview">
                    <span v-if="file.name != ''">{{ file.name }}</span>
                    <img :src="dataurl" v-if="dataurl">
                </div>
                <button type ="button" @click = "resetImg">サムネのリセット</button>
            </div>
        </div>`
    })

    app.component('submit',{
        data(){
            return {

            }
        },
        methods:{
            showData(){
                var data={};
                console.log(title.value);
                console.log(developer.value);
                console.log(caption.value);
                for(var i=0;i<tags.length;i++){
                    if(tags[i].selected){
                        console.log(tags[i].value);
                    }
                }
                console.log(subtag1.value);
                console.log(subtag2.value);
                console.log(subtag3.value);
                data["title"] = title.value;
                data["developer"] = developer.value;
                data["caption"] = caption.value;

                var arr = [];
                for(var i=0;i<tags.length;i++){
                    if(tags[i].selected){
                        arr.push(tags[i].value);
                    }
                }
                data["tags"] = arr;
                data["subtag"] = [subtag1.value,subtag2.value,subtag3.value];

                //連想配列をJsonに変化
                json_data = JSON.stringify(data);
                console.log(json_data);
                
                console.log(tmb);

                
            },
        },
        template:`
        <div>
            <button type ="button" @click = "showData">submit</button>
            <p id="debug"></p>
        </div>`
    })

    

    app.mount('#registaration_form')


    </script>
</body>
</html>