<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録ページ</title>
    <link href="style_registaration.css" rel="stylesheet">
</head>
<body>
    <header>
        <p>Vue.jsのコンポーネント使った新規登録ページっぽいもの<p>
    </header>

       <!--<div id="components-demo">
            <button-counter></button-counter>
          </div>
        <br>!-->
        <div id="app">

            <h3>タイトル名</h3>
            <input v-model="title" id="title" placeholder="edit this" />
            <p>Title : {{ title }}</p>

            <h3>開発者名</h3>
            <input v-model="developer" id="developer" placeholder="edit this" />
            <p>Developer : {{ developer }} </p>
            
            <h3>説明文</h3>
            <textarea v-model="caption" id ="caption" placeholder="add multiple lines" rows= "10" cols = "50" spellcheck="false"></textarea>
            <p>Caption : {{ caption }} </p>

            <h3>Tag(複数選択可)</h3>
            <select size ="5" v-model="tags" id="tags" multiple>
                <option value="ACTION">Action</option>
                <option value="SHOOTING">SHOOTING</option>
                <option value="RPG">RPG</option>
                <option value="PUZZLE">PUZZLE</option>
                <option value="SIMULATION">SIMULATION</option>
                <option value="ADVENTURE">ADVENTURE</option>
                <option value="FIGHTING">FIGHTING</option>
                <option value="RACE">RACE</option>
                <option value="RHYTHM">RHYTHM</option>
                <option value="SPORTS">SPORTS</option>
                <option value="ETCETRA">ETCETRA</option>
            </select>
            <br/>
            <span>Tag: {{ tags }}</span>`

            <h3>subtag</h3>
            <input v-model="subtag1" id="subtag1" placeholder="edit this" />
            <input v-model="subtag2" id="subtag2" placeholder="edit this" />
            <input v-model="subtag3" id="subtag3" placeholder="edit this" />
            <p>Subtag :<br> {{ subtag1 }}<br>{{ subtag2 }}<br>{{ subtag3 }}</p>

            <div>
                <h3>サムネを選択</h3>
                <div v-if="!tmbdataurl">
                <input type="file" id="tmb" accept = "images/*" @change="readTmb">
                </div>
                <div v-else>
                    <div id="tmb-preview">
                        <span v-if="tmbfile.name != ''">{{ tmbfile.name }}</span>
                        <img :src="tmbdataurl" v-if="tmbdataurl">
                    </div>
                    <button type ="button" @click = "resetTmb">サムネのリセット</button>
                </div>
            </div>`

            <div>
                <h3>プレイ画像を選択</h3>
                <div v-if="!imgdataurl">
                    <input type="file" id="img" accept = "images/*" @change="readImg">
                </div>
                <div v-else>
                    <div id="img-preview">
                        <span v-if="imgfile.name != ''">{{ imgfile.name }}</span>
                        <img :src="imgdataurl" v-if="imgdataurl">
                    </div>
                    <button type ="button" @click = "resetImg">サムネのリセット</button>
                </div>
            </div>

            <button type ="button" @click = "showData">submit</button>
        </div>

        
    <footer>
        <p></p>
    </footer>

</body>

    
    <script src="https://unpkg.com/vue@next"></script>
    
    <script>
    const app = Vue.createApp({
        data(){
            return{
                title:'',
                developer:'',
                caption:'',
                tags:'',
                subtag1: '',
                subtag2: '',
                subtag3: '',
                tmbdataurl:null,
                tmbfile:null,
                imgdataurl:null,
                imgfile:null,
            }
        },
        methods:{
            readTmb(){
                const inputTmb = document.getElementById('tmb');
                if(inputTmb.files.length == 0){
                    return ;
                }
                
                this.tmbfile = inputTmb.files[0];
                console.log(this.tmbdataurl);
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.tmbdataurl = e.target.result;
                }
                reader.readAsDataURL(this.tmbfile);
            },
            resetTmb(){
                this.tmbdataurl = null;
                this.tmbfile = null;
            },

            readImg(){
                const inputImg = document.getElementById('img');
                if(inputImg.files.length == 0){
                    return ;
                }
                
                this.imgfile = inputImg.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.imgdataurl = e.target.result;
                }
                reader.readAsDataURL(this.imgfile);
            },
            resetImg(){
                this.imgdataurl = null;
                this.imgfile = null;
            },

            showData(){
                var data={};
                console.log(this.title);
                console.log(developer.value);
                console.log(caption.value);
                for(var i=0;i<tags.length;i++){
                    if(tags[i].selected){
                        console.log(tags[i].value);
                    }
                }
                console.log(subtag1.value);
                console.log(subtag2.value);
                console.log(subtag3.value);
                data["title"] = title.value;
                data["developer"] = developer.value;
                data["caption"] = caption.value;

                var arr = [];
                for(var i=0;i<tags.length;i++){
                    if(tags[i].selected){
                        arr.push(tags[i].value);
                    }
                }
                data["tags"] = arr;
                
                data["subtag"] = [subtag1.value,subtag2.value,subtag3.value];

                //連想配列をJsonに変化
                json_data = JSON.stringify(data);
                console.log(json_data);     

                console.log(this.tmbdataurl);
                console.log(this.tmbfile);
                console.log(this.imgdataurl);
                console.log(this.imgfile);
                console.log(config);
            },
            


        }
    })
    
    
    
    

    app.mount('#app')


    </script>
</html>